<h1>Elnura Nabigazinova, Data Wrangling and Visualization</h1>

In [77]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

*import pandas and sklearn knn classifier*

In [79]:
dev_index=pd.read_csv('Development Index.csv')
dev_index

,Population,Area,PopDensity,GDP,Literacy,Infantmortality,DevelopmentIndex
0,9944201,1284000,7.7,1200,47.5,93.82,2
1,5450661,43094,126.5,31100,100.0,4.56,4
2,26783383,437072,61.3,1500,40.4,50.25,2
3,9439,102,92.5,3400,97.0,7.35,4
4,3431932,176220,19.5,12800,98.0,11.95,3
...,...,...,...,...,...,...,...
220,74777981,1127127,66.3,700,42.7,95.32,2
221,474413,2586,183.5,55100,100.0,4.81,4
222,1065842,5128,207.9,9500,98.6,24.31,3
223,3042004,111370,27.3,1000,57.5,128.87,1
224,22409572,239460,93.6,2200,74.8,51.43,2

create data frame *dev_index* with data from `Development Index.csv` file

In [80]:
dev_index.shape

(225, 7)

shape of the `dev_index` data frame

In [81]:
X=dev_index.drop(columns=['PopDensity','Area', 'Infantmortality', 'DevelopmentIndex'])

assign to *X* data from data frame just with  Population, GDP, Literacy to know how they affects on DevelopmentIndex.

In [82]:
X.head()

   Population    GDP  Literacy
0     9944201   1200      47.5
1     5450661  31100     100.0
2    26783383   1500      40.4
3        9439   3400      97.0
4     3431932  12800      98.0

5 values on the top of the X

In [66]:
y = dev_index['DevelopmentIndex'].values

Assign to *y* Development Index values

In [67]:
y[0:5]

array([2, 4, 2, 4, 3], dtype=int64)

print from first to fifth values in y

In [68]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)

divide model into train and test, to examine data

In [69]:
knn = KNeighborsClassifier(n_neighbors=3)

assign KNeighborsClassifier and choose number of neighbors

In [83]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

Fit the classifier to the data

In [71]:
knn.predict(X_test)[0:5]

array([3, 4, 3, 4, 3], dtype=int64)

show first 5 model predictions on the test data

In [72]:
knn.score(X_test, y_test)

0.8

check accuracy of our model on the test data

In [73]:
# instantiate the model (using the value K=5)
knn = KNeighborsClassifier(n_neighbors=5)

# fit the model with data
knn.fit(X_test, y_test)

# predict the response for new observations
knn.predict(X_test)

array([3, 3, 3, 4, 3, 4, 3, 2, 3, 2, 3, 2, 2, 3, 2, 4, 3, 4, 3, 4, 3, 2,
       4, 2, 2, 2, 3, 3, 4, 2, 3, 2, 3, 3, 2, 4, 3, 2, 3, 4, 4, 3, 3, 3,
       4], dtype=int64)